{{!-- #if user --}}

<p>Dive site name:{{divesite.title}}</p>
<p>Longitude: {{divesite.longitude}}</p>
<p>Latitude: {{divesite.latitude}}</p>
<p>Wreck siting: {{divesite.wreck}}</p>
<p>Description: {{divesite.description}}</p>
<p>Depth: {{divesite.depth}}</p>
<p>Charter: {{divesite.charter}}</p>


<a href="/divesites/edit/{{divesite._id}}">edit</a>
<form  action="/divesites/delete/{{divesite._id}}" method="post">
  <button type="submit"> Delete </button>
</form>

<div class="background-map">


</div>