{{divesite.title}}
{{divesite.longitude}}
{{divesite.latitude}}
{{divesite.wreck}}
{{divesite.description}}
{{divesite.depth}}
{{divesite.charter}}


<a href="/divesites/edit/{{divesite._id}}">edit</a>