<h1> South Florida's top reported dive sites</h1>





{{!-- field after each is the name called by
.data.(theList) in 
router.get('/divesites', function (req, res) {
  Dive.find()
  .then(divesites => {
    let data = {};
    data.theList = divesites;
    res.render('index', data)
  })
  .catch(theError => { console.log(theError) })
}) --}}
{{!-- {{#each theList}}
    <p>Dive Site:{{this.title}}</p>
    <p>Longitude:{{this.longitude}}</p>
    <p>Latitude:{{this.latitude}}</p>
    <p>Wreck:{{this.wreck}}</p>
    <p>Description:{{this.description}}</p>
    <p>Depth:{{this.depth}}</p>
    <p>Charter:{{this.charter}}</p>
    <br> --}}

    {{!-- Sorts the results by Keys:value. 
    This. ->theList-> divesites --}}
{{!-- {{/each}} --}}
